@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
#container {
    width: 100%;
    /*margin: 5em auto;*/
    padding: 0;
    /*background:#fff;*/
    padding-bottom: 2em;
    padding-top: 5em;
}

.items {
    /*max-width:900px;*/
    height:280px;
    /*background:#ECECEC;*/
    padding-top: 5px;
    margin:0;
}

#left, #right { 
    /*margin: 80px;*/
    color: #EA001F;
}





html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  /*display: table;*/
  height: 100%;
  width: 100%;
  padding: 0;
}


.container-fostrap {
  padding:0;
  margin:0;

  /*display: table-cell;*/
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 0px;
}



h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 


.card {
  width: 200px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s;

}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-card {
  width: 200px;
  height:150px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}


.img-card img{
  width: 100%;
  /*height: 200px;*/
  object-fit:cover; 
  transition: all .25s ease;
} 


.card-content {
  width: 200px;
  padding:5px;
  /*text-align:left;*/
}


 /*not enabled*/
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 18px;
}


.card-title a {
  color: #000;
  text-decoration: none !important;
}


.mycard-title {
  margin-top:0px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  text-align:center;
}





.mycard-title a {
  color: #000;
  text-decoration: none !important;

}


.card-read-more {
  border-top: 1px solid #D4D4D4;
}


.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/***** JUMBOTON ********/

.jumbotron {
    background-image: url("/assets/img10.jpg");
    /*background-color: #17234E;*/
    margin-bottom: 0;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-bottom: 0;
}

.recommendations{
  text-align:left;
  line-height: 1.42857143;
  font-size: 1.25em;
}

/*** STAR RATING *****/
.star {
      /*font-size: 1.5rem;*/
      color: #b0c4de;
    }
    .filled {
      color: #1e90ff;
    }
    .bad {
      color: #deb0b0;
    }
    .filled.bad {
      color: #ff1e1e;
    }


/*  Thumbnail*/

.mycard {
    /*position: relative;*/
    padding: 1px;
    margin-bottom: 20px;
    width: 100px;

    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}

.mycard img {
    width: 100%;
}


